.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 5%;
  background-color: var(--color-white);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.navbar-logo a{
  text-decoration: none;  
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

.logo-vault {
  color: var(--color-text);
}

.logo-x {
  color: var(--color-primary);
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 32px;
}

.navbar-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: all ease 0.3s;
  font-size: 14px;
}

.navbar-links a:hover,
.navbar-links a.active {
  border-radius: 20px;
  background-color: rgb(5, 76, 5);
  padding: 5px 12px;
  color: #fff;

}

.navbar-actions {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 14px;
}

.btn-login {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  transition: ease 0.3s;
}

.btn-login:hover {
  color: #084d30;
}

.btn-signup {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 8px 20px;
  border-radius: 15px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.btn-signup:hover {
  background-color: #084d30;
}