.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 5%;
  background-color: var(--color-white);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
}

.navbar-logo a{
  text-decoration: none;  
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

.logo-vault {
  color: var(--color-text);
}

.logo-x {
  color: var(--color-primary);
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 32px;
}

.navbar-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: all ease 0.3s;
  font-size: 14px;
}

.navbar-links a:hover,
.navbar-links a.active {
  border-radius: 20px;
  background-color: rgb(5, 76, 5);
  padding: 5px 12px;
  color: #fff;

}

.navbar-actions {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 14px;
}

.btn-login {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  transition: ease 0.3s;
}

.btn-login:hover {
  color: #084d30;
}

.btn-signup {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 8px 20px;
  border-radius: 15px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.btn-signup:hover {
  background-color: #084d30;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--color-text);
  border-radius: 3px;
  transition: all 0.3s;
  display: block;
}

.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-primary-light);
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 16px 5%;
  gap: 16px;
  z-index: 99;
  animation: dropDown 0.3s ease forwards;
}

@keyframes dropDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile-menu a {
  text-decoration: none;
  color: var(--color-gray);
  font-size: 16px;
  font-weight: 500;
  transition: ease 0.3s;
}

.mobile-menu a:hover,
.mobile-menu a.active {
  color: var(--color-primary);
}

.mobile-signup {
  background-color: var(--color-primary);
  color: var(--color-white) !important;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  font-weight: 600 !important;
}

.mobile-signup:hover {
  background-color: #084d30;
}

@media (max-width: 768px) {
  .navbar-links,
  .navbar-actions {
    display: none;
  }

  .hamburger {
    display: flex;
    text-align: center;
  }
  .navbar {
    padding: 16px 5%;
    flex-wrap: wrap;
  }

  .navbar-logo {
    font-size: 22px;
  }
}

